button{
    border-color: blue;
    border-style: dotted;
    cursor: pointer;
    color: cyan;
    width: 85px;
    font-size: 30px;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(162, 255, 162);
}
body{
    background-color: #dbf6b3;
}
h1{
    color: darkcyan;
    text-decoration: underline;
}
.logo{
    width: 400px;
	margin-top: 30px;
	border-radius: 230px;
    border-color: orange;
    border-style: solid;
}